// Variables

$accent-grey-1: #0f0f0f;
$accent-grey-2: #161616;
$accent-grey-3: #1f1f1f;
$accent-grey-4: #2c2c2c;
$accent-grey-5: #313131;

$accent-white-1: #ebebeb;
$accent-white-2: #dadada;
$accent-white-3: #c4c4c4;
$accent-white-4: #b3b3b3;
$accent-white-5: #a5a5a5;

$red-1: rgb(223, 60, 60);
$red-2: rgba(223, 60, 60, 0.65);
$red-3: rgba(223, 60, 60, 0.473);

$teal: rgba(79, 214, 255, 0.74);

$border-radius-small: 0.4rem;
$border-radius-medium: 2rem;
$border-radius-full: 20rem;

$laptop: 992px;
$desktop: 1500px;

$page-width: 750px;

$transition: all 0.08s;
