.connect-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex: 1;
  gap: 2rem;
}

.icon-group {
  display: flex;
  gap: 2rem;
}

.icon {
  font-size: 3rem;
}
