@import "./variables";

.homepage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex: 1;
  gap: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;

  // @media only screen and (min-width: $laptop) {

  // }
}

.skill-icons {
  // flex: 1;
  display: flex;
  justify-content: center;
  // background-color: red;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
  // width: 50%;
  @media only screen and (min-width: $laptop) {
    gap: 1.5rem;
  }
}

.skill-icon-and-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.2rem;
}

.skill-icon {
  width: 20px;
  filter: grayscale(1);
  transition: all 0.5s;

  @media only screen and (min-width: $laptop) {
    width: 30px;
  }
}

.short-desc {
  font-size: 1rem;
  text-align: center;
  @media only screen and (min-width: $laptop) {
    font-size: 1.3rem;
  }
}

// .skill-icon:hover {
//   filter: grayscale(0);
//   //   width: 75px;
// }

.skill-name {
  font-size: 0.7rem;
  @media only screen and (min-width: $laptop) {
    font-size: 0.9rem;
  }
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.btn-projects {
  background-clip: padding-box;
  background-color: $red-2;
  border: 2px solid $red-2;
}

.btn-view-cv {
  background-clip: padding-box;
  background-color: transparent;
  border: 2px solid $red-2;
  color: $red-2;
  text-decoration: none;
}
