@import "./variables";

/* .sidebar {
  background-color: $accent-grey-1);
}

.navbar {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  height: 100%;
  justify-content: center;
} */

// MOBILE AND TABLET

.navbar-container {
  background-color: $accent-grey-1;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;

  @media only screen and (min-width: $laptop) {
    padding: 0.5rem 15rem;
  }

  @media only screen and (min-width: $desktop) {
    padding: 0.5rem 25rem;
  }
}

.icon {
  font-size: 1.1rem;
}

.navbar-name {
  font-weight: 600;
  color: $red-1;
  font-weight: 700;
  text-shadow: 0px 0px 10px $red-2;
}

.burger-menu {
  /* position: fixed; */
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-size: 2rem;
}

.EZDrawer .EZDrawer__checkbox {
  display: none;
}
.EZDrawer .EZDrawer__checkbox:checked ~ .EZDrawer__overlay {
  display: block;
  opacity: 1;
}
.EZDrawer .EZDrawer__checkbox:checked ~ .EZDrawer__container {
  visibility: visible;
  transform: translate3d(0, 0, 0) !important;
}
.EZDrawer .EZDrawer__overlay {
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.EZDrawer .EZDrawer__container {
  position: fixed;
  visibility: hidden;
  background: $accent-grey-1;
  transition: all;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: $laptop) {
  .navbar {
    // width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 1rem;
  }
}
